<ons-page>
    <ons-toolbar>
    <div class="center">Page1</div>
    </ons-toolbar>
    <div style="text-align: center">
        <table align="center">
            <tr>
                <th>本管理</th>
                <th>服管理</th>
            </tr>
            <tr>
        		<td>
                    <ons-button modifier="quiet" ng-click="myNavigator.pushPage('html/book/bookTop.html')">
                    <img src="ind_img01.png"></ons-button>
                </td>
        	    <td>
                    <ons-button modifier="quiet" ng-click="myNavigator.pushPage('html/fashion/fashionTop.html')">
                    <img src="ind_img01.png"></ons-button>
                </td>
        	</tr>
        </table>
        <p>
            <ons-button onclick="myNavigator.pushPage('new_page.html',{data:{param1:'aaa'}})">Push page</ons-button>
        </p>
        
    </div>
</ons-page>