<ons-page>
<ons-toolbar>
    <div class="left"><ons-back-button>戻る</ons-back-button></div>
    <div class="center">服管理</div>
</ons-toolbar>

<div style="text-align: center">
    <br />
    アイテム管理
    <br />
    <ons-button ng-click="myNavigator.pushPage('html/fashion/itemMane.html')" modifier="quiet"><img src="ind_img01.png"></ons-button>
    <br />
    コーディネート登録
    <br />
    <ons-button ng-click="myNavigator.pushPage('html/fashion/coordinateEntry.html')" modifier="quiet"></ons-button>
    <br />
    <br />
    <ons-button ng-click="myNavigator.pushPage('html/fashion/coordinateSearch.html')" modifier="quiet"></ons-button>
</div>
</ons-page>

